
<router-outlet></router-outlet>
<div class="container">
    <mat-card>
        <mat-card-content>
            <h1>Solicitudes Recientes</h1>
    <table  class="mat-elevation-z2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Numero de venta</th>
                <th>Productos</th>
                <th>Nombre destinatario</th>
                <th>Direccion destino</th>
                <th>Fecha de Entrega</th>
                <th>Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let solicitud of solicitudes">
                <td>{{solicitud.idSolicitud}}</td>
                <td>{{solicitud.numeroVenta}}</td>
                <td>{{solicitud.productos}}</td>
                <td>{{solicitud.nombreDestinatario}}</td>
                <td>{{solicitud.direccionDestino}}</td>
                <td>{{solicitud.fechaEntrega}}</td>
                <td>{{solicitud.idCliente}}</td>
                <td>
                    <a  (click)="enviarViaje(solicitud.idSolicitud,solicitud.idCliente,solicitud.numeroVenta,solicitud.fechaEntrega); actualizarSolicitud(solicitud.idSolicitud); registrarEnvio(solicitud.idSolicitud) "class="pointer edit"><mat-icon>edit</mat-icon></a>
                    <a (click)="eliminarSolicitud(solicitud.idSolicitud)" class="pointer delete"><mat-icon>delete</mat-icon></a>
                </td>
            </tr>
        </tbody>
    </table>
        </mat-card-content>
        <mat-paginator [length]="100"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              showFirstLastButtons="">
        </mat-paginator>
    </mat-card>
    <div class="cosas">
        <div class="envios">
            <mat-card>
                <mat-card-content>
                    <h1>Envios Activos</h1>
                    <table  class="mat-elevation-z2 tabla-envios">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Estado de Entrega</th>
                                <th>Numero de Guia</th>
                                <th>Encargado</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let viaje of viajes">
                                <td>{{viaje.idViaje}}</td>  
                                <td>{{viaje.estadoEntrega}}</td>
                                <td>{{viaje.numeroGuia}}</td>
                                <td>{{viaje.nombre}}</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="formulario">
            <mat-card>
                <mat-card-content>
                    <h1>Registrar Envio</h1>
                    <form action="" [formGroup]="form_registro" >
                        <mat-form-field appearance="fill" class="formulario-inputs">
                            <mat-label>Numero de Guia</mat-label>
                            <input matInput formControlName="numeroGuia">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="formulario-inputs">
                            <mat-label>Estado Entrega</mat-label>
                            <input matInput formControlName="estadoEntrega">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="formulario-inputs">
                            <mat-label>Encargado</mat-label>
                            <input matInput formControlName="encargado">
                        </mat-form-field>
                        <button type="submit" mat-raised-button color="primary" class="registrar-boton">Registrar</button>
                        
                    </form>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
</div>
